.Card{
    flex: 1;
    border:4px solid black;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    margin:2%;

    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Card .Content {
    flex: 1;
    background-color: #fff;
    color: #333;
    padding: 10px;
}

.Card .Footer {
    background-color: #333;
    color: #fff;
}
